@media all and (max-width:420px) {

.info_details {
    padding: 0;
}

.resume_card {
    padding: 10px;
}


}


@media all and (max-width:768px) {
  .experience > div {
        width: 90%;
    }
 .location {
    padding-left: 5%;
    margin-top: 30px;
 }
 .work_exp {
    margin-top: 30px;

 }
 .skills {
     margin-top: 30px;
 }
 

 .categories {
     width: 60%;
 }

 .info_details {
     padding: 0;
 }

 .resume_card {
     padding: 10px;
 }

 .projects {
     width: calc(100%) !important;
 }

 .projects>img {
     width: 60%;
     border-radius: 10px;
 }

.projects>img:hover {
    transition: 1s;
    cursor: pointer;
    width: 100%;

}

}

@media all and (min-width: 769px) and (max-width: 991px) {

    .experience > div {
        width: 90%;
    }

    
    

}

@media all and (min-width: 992px) and (max-width: 1200px) {

    .hamburger_menu {
        display: none !important;
    }

     .projects>img {
         width: 80%;
         border-radius: 10px;
     }

     .projects>img:hover {
         transition: 1s;
         cursor: pointer;
         width: 120%;

     }


}

@media all and (min-width: 1201px) {

    .hamburger_menu {
        display: none !important;
    }

}
