html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

body {
  color: white;
  font-family: 'Work Sans', sans-serif;
  font-size: 20px;
  overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Righteous';
}

ul {
  list-style: none;
}

ul > li {
  display: block;
}

.p_20 {
  padding: 20px;
}

/* utility */

.wrapper {
 width: 100vw;
 align-items: center;
}

.green {
  color: #1CB698;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.deepdark {
  background-color: #1E2326;
}

.section_title {
  margin: 15px 0;
}

.animate__fadeIn {
  --animate-duration: 2s;
}

.animate__zoomIn {
  --animate-duration: 0.6s;
}
.nav-link,
h2,
h3,
.social a {
  vertical-align: middle;
  position: relative;
  display: inline-block;
  color: white;
  overflow: hidden;
  background: linear-gradient(to right, #1CB698, #1CB698 50%, white 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: 1s ease;
}

h5 {
  color: #fff;
  border: none;
  padding: 10px 20px;
  -webkit-transition: background 1s;
  transition: background 0.7s;

}

h5:hover {
background-color: #1CB698;

}

.nav-link:hover,
h2:hover,
h3:hover,
.social a:hover {
  background-position: 0 100%;
}

/* /utility */


/* header */

header {
  width: 80%;
  justify-content: space-between;
  align-items: center;
}

.navbar{
  background-color:#1E2326;
  padding: 10px 0;
  
}

.navbar-item{
  text-transform: capitalize;
}


.navbar-toggler {
background-color: #1CB698;
}

.navbar i {
  padding: 5px;
  color: white;
}

.navbar a {
  color: white;
}


.navbar .navbar-brand {
  color: #1CB698;
  font-size: 28px;
}

header h5{
  margin: 0;
}

header ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

header li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}
/* /header */



/* main */

/* profile */

.profile {
  height: 600px;
  width: 100vw;
  justify-content: center;
  align-items: center;
  background-image: url('../img/header/cover1.png');
  position: relative;
  z-index: 2;
  
}

.image3d{
  align-items: center;
  position: relative;
  width: 80%;
}

.profile img {
  width: 300px;
  border-radius: 50%;
  border: 10px solid #1CB698;
  box-shadow: 0 0 0 16px rgba(102, 204, 102, 0.2);
  z-index: 2;
  margin-bottom: 180px;
}

.profile_details {
  align-items: center;
  background-color: #252A2E;
  border-radius: 10px;
  padding: 140px 20px 10px 40px;
  position: absolute;
  top: 42%;
  z-index: -1;
}

.profile_details h3{
  font-size: 36px;
}

.profile_details h6 {
  padding: 10px;
}

.profile_details ul {
  list-style-type: none;
}



.profile_details li {
 display: block;
 padding: 10px;
}


.social {
  justify-content: space-around;
}

.social i {
  font-size: 26px;
  padding: 0px 10px;
}

.social a{
  text-decoration: none;
  color: white;
}

.details {
  padding: 0px;
}

/* /profile */


/* About */

.about {
  width: 80%;
  margin: 40px 0px;
  line-height: 2;
}


section h1, section i{
 text-align: center;
}

section .fa-info-circle {
  color: rgb(0, 225, 255);
  
}

section i {
  font-size: 35px;
}

.line_border {
  width: 100px;
  border: 1px solid #1CB698;
  text-align: center;
  align-self: center;
  margin-bottom: 10px;
}

.line_border_second {

  width: 50px;
  border: 1px solid #1CB698;
  text-align: center;
  align-self: center;
}

.about h4 {
  margin-bottom: 10px;
}

.about h2 {
  margin-bottom: 30px;
}

.about p {
  margin: 40px 0;
}


.info_details {
  color: #1CB698;
  font-family: 'Righteous';
}

.my_interests {
  justify-content: center;
}

.card_interests {
  height: 90px;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 5px;
  border-radius: 10px;
  background-color: #252A2E;
  
}

.card_interests:hover {
  background-color: #1CB698;
  transition: 1s;
}


/* skills */

.skills img {
  width: 50px;
}

/* /skills */

/* /About */


/* resume */

#my_resume {
background-color: #252A2E;
width: 100%;
align-items: center;
}

.resume {
   width: 80%;
   margin: 40px 0px;
   line-height: 2;
}

.experience {
  width: 100%;
  justify-content: space-between;
  margin: 40px 0;
   flex-wrap: wrap;
}

.experience > div {
  width: 48%;
}

.education {
  border-right: 1px solid #333;
}

.education >.resume_card:after{
    content: '';
    display: inline-block;
    position: absolute;
    background-color: #1CB698;
    border-radius: 10px;
    width: 12px;
    height: 12px;
    top: 50%;
    right: -51px;
    border: 2px solid #1CB698;
    z-index: 2;
    transform: translateY(-45%);
}

.education > h2, .work_exp > h2 {
  align-self: center;
}

.work_exp {
  border-left: 1px solid #333;
}

.resume_card {
  background-color: #1E2326;
  border-radius: 10px;
  padding: 25px;
  border-right: 4px solid #1CB698;
  margin: 20px 40px;
  position: relative;
}

.resume_card span {
  color: #1CB698;
}

.resume_card_border {
  position: absolute;
  right: -40px;
  width: 39px;
  border-bottom: 2px solid #1CB698;
  top: 50%;
}


.work_exp > .resume_card {
  border-left: 4px solid #1CB698;
  border-right: none;
}

.work_exp .resume_card_border {
   position: absolute;
   left: -40px;
   width: 39px;
   border-bottom: 2px solid #1CB698;
   top: 50%;
}

.work_exp >.resume_card:after{
     content: '';
     display: inline-block;
     position: absolute;
     background-color: #1CB698;
     border-radius: 10px;
     width: 12px;
     height: 12px;
     top: 50%;
     left: -51px;
     border: 2px solid #1CB698;
     z-index: 2;
     transform: translateY(-45%);
}

/* /resume */


/* portfolio */

#recent_portfolio {
  background-color: #1E2326;
  width: 100%;
  align-items: center;
}


.portfolio {
  width: 80%;
  margin-top: 40px;
  line-height: 2;
  align-items: center;
}

.portfolio_categories {

  justify-content: center;
  margin: 40px 0px;
  width: 100%;
  flex-wrap: wrap;
  
}

.portfolio_categories > h5 {
  cursor: pointer; 
  margin: 0;
}

.portfolio_project {
  width: 70%;
  justify-content: center;
  flex-wrap: wrap;
  margin: 40px 0px;
 
}

.projects {
  justify-content: center;
  width: calc(100%/3);
  position: relative;
  align-items: center;
  padding: 10px;
}



.projects > img {
  width: 100%;
  border-radius: 10px;
  
}

.projects > img:hover {
  opacity: 0.4;
  transition: 0.6s;
  cursor: pointer;
}


.overlay {
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 100%;
  margin: 0px 0px;
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0%;
  left: 0%;
  background-color: rgba(26, 182, 152, 0.8);
  transition: opacity .20s;
}

.overlay:hover {
  opacity: 1;
  cursor: pointer;
}

.overlay > * {
  color: white;
  font-size: 25px;
  font-family: 'Righteous';
}

/* /portfolio */


/* contact form */


#contact_me {
  background-color: #252A2E;
  width: 100%;
  align-items: center;
  
}


.contact_structure {
  width: 80%;
  margin: 40px 0px;
  line-height: 2;
  align-items: center;
  
}
.contact {
  width: 100%;
  margin: 40px 0px;
}

.contact > div {
  width: 50%;
  
}
.contact_form {
  align-items: center;
  justify-content: center;
}

form {
  width: 90%;
}

input,textarea {
  margin: 10px 10px;
  background-color: #252A2E;
  border: 0px solid #D2D2D2;
  box-shadow: 0px 18px 18px 0 rgba(0, 0, 0, 0.2);
  font-size: 15px;
  letter-spacing: 0.5px;
  color: white;
}

::placeholder {
  color: white;
}

/* /contact form */



/* /main */



/* footer */

/* /footer */